* { margin: 1px; padding: 0px; }
body
{
    background-image: url("imagenes/fondooo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    
    
}
#page
{
    width: 960px;
    margin: 0 auto;
    text-align: left;
}
header
{
    background-color:  white;
    padding: 30px;
    border: 6px solid yellow ;
    font-size: 20px ;
    background-position: 25px center;
    margin: 0 40px;


}
header h1 
{
  font-size: 30px;
  color: rgb(184, 184, 66);
}

nav 
{
  
  padding: 10px;
  margin: 15px auto;
  width: 60%;
  

}

nav ul 
{
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 10px;
  
}

nav a 
{
  padding: 8px 15px;
  background-color: yellow;
  border-radius: 8px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  border-radius: 0;
  
  
}
nav a:hover 
{
  background-color: rgba(207, 32, 32, 0.479);
}

main 
{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin-top: 40px;

}

article 
{   

  width: 250px;
  background: white;
  padding: 15px;
  border-radius: 15px;
  border: 3px solid blue;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 0;
}
article h1
{
    color:blue;
    text-decoration:double;
}


footer 
{
  background-color: white;
  padding: 10px;
  margin-top: 30px;
  border: 6px solid yellow;
  
}